{% extends "layout.html" %}

{% block title %}
    Buy Items
{% endblock %}

{% block script %}
    <script language="javascript" type="text/javascript">
    function dynamicdropdown(listindex)
    {
        switch (listindex)
        {
        case "furniture" :
            document.getElementById("itemname").options[0]=new Option("Select Type","");
            document.getElementById("itemname").options[1]=new Option("Table","table");
            document.getElementById("itemname").options[2]=new Option("Chair","chair");
            document.getElementById("itemname").options[3]=new Option("Sofa","sofa");
            document.getElementById("itemname").options[4]=new Option("Cabinets","cabinets");
            document.getElementById("itemname").options[4]=new Option("Other Items","other items");
            break;
        case "automobile" :
            document.getElementById("itemname").options[0]=new Option("Select Type","");
            document.getElementById("itemname").options[1]=new Option("Car","car");
            document.getElementById("itemname").options[2]=new Option("Scooter","scooter");
            document.getElementById("itemname").options[3]=new Option("Bike","bikes");
            document.getElementById("itemname").options[4]=new Option("Cycle","cycle");
            document.getElementById("itemname").options[4]=new Option("Other Items","other items");
            break;
        case "electronics" :
            document.getElementById("itemname").options[0]=new Option("Select Type","");
            document.getElementById("itemname").options[1]=new Option("Mobile","mobile");
            document.getElementById("itemname").options[2]=new Option("Computers","computers");
            document.getElementById("itemname").options[3]=new Option("Television","television");
            document.getElementById("itemname").options[4]=new Option("Eaccessories","eaccessories");
            document.getElementById("itemname").options[4]=new Option("Other Items","other items");
            break;
        case "household items" :
            document.getElementById("itemname").options[0]=new Option("Select type","");
            document.getElementById("itemname").options[1]=new Option("Fridge","fridge");
            document.getElementById("itemname").options[2]=new Option("Washing Machine","washing machine");
            document.getElementById("itemname").options[3]=new Option("Kitchen Accessories","kitchen accessories");
            document.getElementById("itemname").options[4]=new Option("Air Conditioner","air conditioner");
            document.getElementById("itemname").options[4]=new Option("Other Items","other items");
            break;
        }
        return true;
    }
    </script>
{% endblock %}

{% block main %}
<!--    <div class="buy1">-->
<!--        <div>-->
<!--            <img src="{{ propic }}" alt="Profile Picture" height="170px" width="170px">-->
<!--&lt;!&ndash;            <img src="../static/{{ propic }}" alt="no image" height="170px" width="170px">&ndash;&gt;-->
<!--            <h1>{{ username }}</h1>-->
<!--        </div>-->
<!--    </div>-->
    <div style="padding-right:30px;">
        <form method="post" action="/buy" enctype="multipart/form-data" class="form-group">
            <div class="form-group" id="category_div">
                        <select id="itemtype" name="itemtype" class="form-group" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                            <option value="">Select Type</option>
                            <option value="furniture">Furniture</option>
                            <option value="automobile">Automobile</option>
                            <option value="electronics">Electronics</option>
                            <option value="household items">Household Items</option>
                        </select>
    <!--        </div>-->
    <!--        <div class="form-group" id="sub_category_div">Status:-->
                <script type="text/javascript" language="JavaScript">
                    document.write('<select name="itemname" id="itemname"><option value="">Select status</option></select>')
                </script>
                <noscript>
                    <select id="itemname" name="itemname" class="form-group">
            <!--        <option value="open">OPEN</option>-->
            <!--        <option value="delivered">DELIVERED</option>-->
                    </select>
                </noscript>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div>
        <table class="newtable">
            <tr style="color: white;">
<!--                <th class="col-sm-3">Image</th>-->
<!--                <th class="col-sm-2">Name</th>-->
<!--                <th class="col-sm-3">Description</th>-->
<!--                <th class="col-sm-1">Price</th>-->
<!--                <th class="col-sm-2">Images</th>-->
<!--                <th class="col-sm-1">Seller</th>-->

                <th class="col1">Image</th>
                <th class="col2">Name</th>
                <th class="col3">Description</th>
                <th class="col4">Price</th>
                <th class="col5">Images</th>
                <th class="col6">Seller</th>
            </tr>

            {% for item in saleitems %}
            <tbody style="color: white; font-size: 20px;">
                <tr class="parent">
<!--                    <td class="col-sm-1"><img src="{{ item['bimagename'] }}" alt="image" height="200px" width="250px"></td>-->
<!--                    <td class="col-sm-1">{{ item["name"] }}</td>-->
<!--                    <td class="col-sm-1"><p class="white-space:pre-line;">{{ item["discription"] }}</p></td>-->
<!--                    <td class="col-sm-1">{{ item["price"] }}</td>-->
<!--                    <td class="col-sm-1">-->

                    <td class="col1"><img src="{{ item['bimagename'] }}" alt="image" height="250px" width="300px"></td>
                    <td class="col2">{{ item["name"] }}</td>
                    <td class="col3"><p style="white-space: pre-wrap;">{{ item["discription"] }}</p></td>
                    <td class="col4">₹{{ item["price"] }}</td>
                    <td class="col5">
                        {% for image in images %}
                            {% if image["code"] == item["code"] %}
                                <img src="{{ image['imagename'] }}" alt="productimages" height="30px" width="50px" class="buyimage">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="col6"><i class="fa fa-chevron-down"></i></td>
                </tr>

                <tr class="cchild">
                    <th colspan="2">Name</th>
                    <th colspan="2">Mobile Number</th>
                    <th colspan="2">Email-id</th>
                </tr>
                <tr class="cchild">
                    <td colspan="2">{{ item["fullname"] }}</td>
                    <td colspan="2">{{ item["mobilenumber"] }}</td>
                    <td colspan="2">{{ item["email"] }}</td>
                </tr>
            </tbody>
            {% endfor %}

        <script>
            $('table').on('click', 'tr.parent .fa-chevron-down', function(){
          $(this).closest('tbody').toggleClass('open');
            });
        </script>
        </table>
        </div>
    </div>
{% endblock %}
