{% extends "layout.html" %}

{% block main %}
    <div class="form-group" style="color:white;">
        <h1>Enter the new password:</h1>
    </div>
    <form action="/forgetp/{{ email }}" method="post">
        <h6 style="color:red;">*Password should be atleast 8 chracters long</h6>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cnewpassword" placeholder="Confirm Password" type="password">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}